{% extends 'base.html' %}

{% block title %} Connections {% endblock %}

{% block content %}
<table id="table" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Uuid</th>
        <th>Type</th>
        <th>Interface</th>
      </tr>
    </thead>
    <tbody>
      {% for connection in connections %}
        <tr>
            <td><a href="{{ url_for('connection', con=connection.name) }}">{{ connection.name }}</a></td>
            <td>{{ connection.uuid }}</td>
            <td>{{ connection.type }}</td>
            <td>{{ connection.device }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}


