{% extends 'base.html' %}

{% block title %} Interface - {{interface["GENERAL.DEVICE"]}} {% endblock %}

{% block content %}
<p class="submenu">
    {% if interface["GENERAL.TYPE"] == "wifi" %}
    <a href="{{ url_for('interface_list', interface_id=interface['GENERAL.DEVICE'] )}}">
        [SCAN]
    </a>
    {% endif %}
</p>
<table id="table" class="table table-striped">
    <thead>
      <tr>
        <th>Parameter</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      {% for key in interface %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ interface[key] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}