{% extends 'base.html' %}

{% block title %} Interfaces {% endblock %}

{% block content %}
<table id="table" class="table table-striped">
    <thead>
      <tr>
        <th>Interface</th>
        <th>Type</th>
        <th>State</th>
        <th>Connection</th>
      </tr>
    </thead>
    <tbody>
      {% for interface in interfaces %}
        <tr>
            <td><a href="{{ url_for('interface', interface_id=interface.device) }}">{{ interface.device }}</a></td>
            <td>{{ interface.type }}</td>
            <td>{{ interface.state }}</td>
            <td><a href="{{ url_for('connection', con=interface.connection) }}">{{ interface.connection }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
